---
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../components/Navbar.astro";
import HeroSection from "../components/HeroSection.astro";
import StatsBar from "../components/StatsBar.astro";
import Footer from "../components/Footer.astro";
import MemberGrid from "../components/MemberGrid";
import { members } from "../data/members";
---

<MainLayout>
  <Navbar />
  <main>
    <HeroSection />
    <StatsBar />
    <MemberGrid members={members} client:visible />
  </main>
  <Footer />
</MainLayout>
