---
import MainLayout from "../../layouts/MainLayout.astro";
import MemberAdminApp from "../../components/MemberAdminApp";
import { members } from "../../data/members";
---

<MainLayout>
  <main>
    <MemberAdminApp initialMembers={members} client:load />
  </main>
</MainLayout>
